DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=
DB_PORT=
DB_DIALECT=
DB_TIMEZONE=
DB_MAX_CONN=
DB_MIN_CONN=
DB_IDLE_CONN=
DB_ACQUIRE_CONN=

DB_GETDESC_USERNAME=
DB_GETDESC_PASSWORD=
DB_GETDESC_DATABASE=
DB_GETDESC_HOST=
DB_GETDESC_PORT=
DB_GETDESC_DIALECT=

PRODUCT_URL=
PRODUCT_STOCK=