DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=
DB_PORT=
DB_DIALECT=

DB_STOCK_USERNAME=
DB_STOCK_PASSWORD=
DB_STOCK_DATABASE=
DB_STOCK_HOST=
DB_STOCK_PORT=
DB_STOCK_DIALECT=

PRODUCT_URL=
PRODUCT_STOCK=